# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
media/
staticfiles/

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
